= content_for :title, 'Jobber'

%form#search-controls.form-search.row-fluid
  .span4.btn-toolbar
    %input.search-query#search-query{ :value => params[:query] }
      %a#search-button.btn.btn-success
        Søk
  .span8.btn-toolbar
    .btn-group
      %a.btn.active
        %i.icon-th-list
      %a.btn
        %i.icon-th
    .btn-group#search-list-quantity{:data => { :toggle => 'buttons-radio'}}
      %a.btn.btn-small.active
        20
      %a.btn.btn-small
        60
      %a.btn.btn-small
        100
    .btn-group{:data => { :toggle => 'buttons-checkbox'}}
      %a.btn.btn-small
        Avansert

- if @jobs.length > 9
  = paginate @jobs

.search-results
  %table.table.table-striped
    %tr
      %th Stilling
      %th Firma
      %th Lagt inn
      %th Sted
      %th Topp tre teknologier

    - @jobs.each do |job|
      - classes = (job.created_at) > 1.day.ago ? 'today' : ''
      %tr{ :class => classes }
        %td
          = link_to job.title, job_path(job.id)
          - if job.created_at > 1.day.ago
            %span.label.label-new NY
        %td
          = link_to job.employer.company_name, employer_path(job.employer.id)
        %td
          = distance_of_time_in_words_to_now job.created_at
        %td= job.employer.company_address
        %td{:style => 'width: 200px' }
          - job.technologies.each_with_index do |tech, i|
            - break if (i >= 3)
            - if user_signed_in? && user_job_seeker? && current_user.rolable.technologies.include?(tech)
              = link_to tech.shortname, jobs_by_technology_path(tech.id),
                :class => 'label label-tech label-warning'
            - else
              = link_to tech.shortname, jobs_by_technology_path(tech.id), :class => 'label label-tech'

= paginate @jobs

= (page_entries_info @jobs).html_safe

