%h1= t 'jobs.add_job.title'

= semantic_form_for @job do |f|
  = f.inputs do
    = f.input :title
    = f.input :description
    = f.input :freedom
    = f.input :positions
    = f.input :percentage
  = f.actions
