#job-container

  - if @job.employer.user == current_user
    .alert.alert-info
      %p
        %strong Morn!
        Dette er en av dine jobber.
      %a.btn Endre jobben

  = content_for :title, "#{@job.title}<small> hos #{link_to @job.employer.company_name, employer_path(@job.employer.id)}</small>".html_safe

  .row.fluid-row
    .span8.company_description
      = BlueCloth.new(@job.description).to_html.html_safe

    .span3.offset1
      - unless user_signed_in? && user_employer?
        %p
          = link_to 'Søk på denne jobben', job_application_path(@job.id), :class => 'btn btn-large btn-success'
        %p
          = link_to 'Fortell en venn', job_application_path(@job.id)


    .span12
      %h3 Teknologier som brukes i jobben
      %p
        - @job.technologies.each do |tech|
          %span.label.label-tech= tech.shortname
