.top-links
  Har du allerede konto?
  = link_to 'Logg inn først', new_user_session_path
  %i.icon-arrow-right

= form_for(resource, :as => resource_name,
  :url => registration_path(resource_name),
  :html => {:class => "new_user form-horizontal"}) do |f|

  -#= f.hidden_field :rolable_type, :value => resource.rolable_type

  %fieldset
    %legend Kontoinformasjon
    .control-group
      = f.label :email
      .controls
        = f.email_field :email
        %p.help-block Du bruker epostadressen for å logge deg inn
    .control-group
      = f.label :password
      .controls
        = f.password_field :password
    .control-group
      = f.label :password_confirmation
      .controls
        = f.password_field :password_confirmation

  .form-actions
    = f.submit (t 'register.submit'), :class => 'btn btn-primary btn-large'
