.top-links
  %p
    Har du allerede konto?
    = link_to 'Logg inn først', new_user_session_path
    %i.icon-arrow-right
  %p
    Er du jobbsøker?
    = link_to 'Lag konto her', job_seeker_sign_up_path
    %i.icon-arrow-right

= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
  :html => {:class => "new_user form-horizontal", :multipart => true }) do |user|

  = hidden_field_tag(:role, params[:role])

  %legend Om jobben
  %fieldset
    = semantic_fields_for resource.rolable.jobs[-1] do |job|
      .part.one

      = job.input :title, :hint => "F.eks: 'Systemutvikler'", :hint_class => 'help-block'
      .control-group
        %label.control-label Teknologier
        .controls
          %input#technology-search{ :placeholder => 'Søk...', :data => { :provide => 'typeahead', :source => (Technology.all.collect {|x| x.name}).to_json } }
          %span#add-technology-button.btn.btn-info Legg til
          .row#technology-list
          -# TODO rating, sanity

      = job.input :description, :as => :text,
        :input_html => { :rows => 7, :style => 'width: 500px !important' },
        :hint => "Du kan bruke Markdown her. Se <a>denne listen</a> for mulighetene.<br/>Obs: bruk feltene under for å dele opp beskrivelsen i seksjoner.".html_safe, :hint_class => 'help-block'
      .control-group
        .controls
          Legg til felt:
          %p.help-block
            %i.icon-plus
            %a Nødvendig kompetanse
          %p.help-block
            %i.icon-plus
            %a Ønskede egenskaper
      = job.input :positions, :as => :hidden, :step => 1, :input_html => { :value => 1 }
      = job.input :deadline, :as => :string, :order => [:day,:month,:year], :input_html => { :value => '', :class => 'datepicker' }
      = job.input :deadline_asap, :as => :boolean

      = job.input :technologies, :as => :hidden,
        :collection => Technology.all.collect { |x| [x.shortname, x.id]},
        :input_html => { :multiple => true }

  %legend Om firmaet
  %fieldset
    = semantic_fields_for resource.rolable do |employer|
      .part.two

      = employer.input :name, :hint => 'Navnet på firmaets kontaktperson'
      = employer.input :position, :hint => 'Kontaktpersonens stilling'
      = employer.input :company_name, :hint => 'firmanavn.jerbs.no', :hint_class => 'help-block'
      = employer.input :company_description,
        :as => :text, :input_html => { :rows => 7, :style => 'width: 500px !important' }
      = employer.input :company_address, :input_html => { :value => @geoloc, :rows => 3, :style => 'width: 210px !important', :class => 'geolocation' }
      -#render :partial => 'google_maps', :locals => { :location => @geoloc }
      = employer.input :logo
      = employer.input :url
      = employer.input :location, :as => :hidden, :input_html => { :class => 'geolocation-latlng' }

  %legend Konto
  %fieldset
    = semantic_fields_for resource do |user|
      .part.three

      = user.input :email, :hint => 'Du bruker epostadressen for å logge deg inn', :hint_class => 'help-block'
      = user.input :password, :hint_class => 'help-block'
      = user.input :password_confirmation, :hint_class => 'help-block'

  %legend Betaling
  %fieldset
    = fields_for :credit_card, @credit_card do |card|
      .part.four
      .control-group
        %label.control-label Fornavn
        .controls
          = card.text_field :first_name
      .control-group
        %label.control-label Etternavn
        .controls
          = card.text_field :last_name
      .control-group
        %label.control-label Kortnummer
        .controls
          = card.text_field :number
      .control-group
        %label.control-label Utløpsmåned
        .controls
          = card.text_field :month
      .control-group
        %label.control-label Utløpsår
        .controls
          = card.text_field :year
      .control-group
        %label.control-label Sikkerhetskode
        .controls
          = card.text_field :verification_value

      -# XXX this is not supported in activemerchant yet:
      -# https://github.com/Shopify/active_merchant/pull/33
        = card.first_name
        = card.last_name
        = card.number
        = card.month
        = card.month
        = card.year
        = card.verification_value

    = user.actions do
      = user.action :submit, :button_html => { :value => 'Lag konto', :class => 'btn-primary btn-large' }

-#
  %fieldset
    %legend Kontoinformasjon

    .control-group
      %label.control-label Epost
      .controls
        = user.email_field :email
        %p.help-block Du bruker epostadressen for å logge deg inn
    .control-group
      %label.control-label Passord
      .controls
        = user.password_field :password
    .control-group
      %label.control-label Bekreft passord
      .controls
        = user.password_field :password_confirmation

  = fields_for(resource.rolable) do |employer|

    .control-group
      %label.control-label= (t 'register.employer.contact.name')
      .controls
        = employer.text_field :name
        %p.help-block Navnet på firmaets kontaktperson

    .control-group
      %label.control-label= (t 'register.employer.contact.position')
      .controls
        = employer.text_field :position
        %p.help-block Kontaktpersonens stilling, f.eks 'Teknisk sjef'


  = fields_for(resource.rolable.company) do |c|

    %fieldset
      %legend Om firmaet

      .control-group
        %label.control-label= (t 'register.employer.company.name')
        .controls
          = c.text_field :name
          %p.help-block
            Tips: Bruk samme navn som firmaet er registrert med.
            %br/
            F.eks: Statoil ASA eller Tine SA

      .control-group
        %label.control-label= (t 'register.employer.company.description')
        .controls
          = c.text_area :description, :rows => 10, :style => 'width: 500px !important'

      .control-group
        %label.control-label= 'Sektor'
        .controls
          - Company::SECTORS.sort_by {|k,v| v}.each do |sector, i|
            %label.radio.inline
              - if i == 1 # Private
                = c.radio_button :sector, i, :checked => 'checked'
              - else
                = c.radio_button :sector, i
              = t "register.employer.company.sector.#{sector}"
    -#



  .form-actions
    = user.submit (t 'register.submit'), :class => 'btn btn-primary btn-large'

