-# TODO split into two views?
-# TODO translate help text

%h2
  - if job_seeker?
    = t 'register.job_seeker.title'
  - else
    = t 'register.employer.title'

= devise_error_messages!

- if job_seeker?
  = render 'new_job_seeker'
- else
  = render 'new_employer'


= render '/devise/links'

- if job_seeker?
  %a{:href => '#'} Er du arbeidsgiver?
