.hero-unit
  %h1= t 'frontpage.search.title'
  %p= (t 'frontpage.search.info') % [@num_jobs, @num_users]

  %form.form-horizontal#primary-search
    %input.input-search{:placeholder => (t 'frontpage.search.input.placeholder')}
      %button.btn.btn-large.btn-primary= t 'frontpage.search.input.button'

  .add-job
    = link_to (t 'frontpage.search.company_new') % 1000, employer_sign_up_path
-#
  #case-study
    .placeholder case study carousel


-#- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.row
  .span12.columns
    %ul.nav-tabs.nav#frontpage-tabs{:data => { :tabs => 'tabs'}}
      %li.active
        %a{:href => '#selected-jobs', :data => { :toggle => 'tab' }}
          = t 'frontpage.tabs.selected_jobs.title'
      %li
        %a{:href => '#new-jobs', :data => { :toggle => 'tab' }}
          = t 'frontpage.tabs.new_jobs.title'
      %li
        %a{:href => '#popular-jobs', :data => { :toggle => 'tab' }}
          = t 'frontpage.tabs.popular_jobs.title'

    .tab-content{:style => 'margin: -5px -20px; padding: 5px 20px;'}
      .tab-pane.active#selected-jobs
        .row
          - @selected_jobs.each do |job|
            .span3
              .job-box
                .new
                %h3= job.title
                %p
                  %strong
                    = job.employer.company_name
                %p
                  =h truncate(job.description, :length => 250)
                %p
                  - job.technologies.each do |tech|
                    %span.label= tech.shortname
      .tab-pane#new-jobs
        .row
          - @new_jobs.each do |job|
            .span3
              .job-box
                .new
                %h3= job.title
                %p
                  %strong
                    = job.employer.company_name
                %p
                  =h truncate(job.description, :length => 250)
                %p
                  - job.technologies.each do |tech|
                    %span.label= tech.shortname
      .tab-pane#popular-jobs
        .row
          - @popular_jobs.each do |job|
            .span3
              .job-box
                .new
                %h3= job.title
                %p
                  %strong
                    = job.employer.company_name
                %p
                  =h truncate(job.description, :length => 250)
                %p
                  - job.technologies.each do |tech|
                    %span.label= tech.shortname

