.hero-unit
  %h1= t 'frontpage.search.title'
  %p= (t 'frontpage.search.info') % [@num_jobs, @num_users]

  %form.form-horizontal#primary-search
    %input.input-search{:placeholder => (t 'frontpage.search.input.placeholder')}
      %button.btn.btn-large.btn-success= t 'frontpage.search.input.button'

  .add-job 
    = link_to (t 'frontpage.search.company_new'), employer_sign_up_path

  #case-study 
    .placeholder case study carousel


-#- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.row
  .span12.columns
    %ul.nav-tabs.nav#frontpage-tabs{:data => { :tabs => 'tabs'}}
      %li.active
        %a{:href => '#selected-jobs', :data => { :toggle => 'tab' }} 
          = t 'frontpage.tabs.selected_jobs.title'
      %li
        %a{:href => '#new-jobs', :data => { :toggle => 'tab' }} 
          = t 'frontpage.tabs.new_jobs.title'
      %li
        %a{:href => '#popular-jobs', :data => { :toggle => 'tab' }}
          = t 'frontpage.tabs.popular_jobs.title' 

    .tab-content
      .tab-pane.active#selected-jobs
        .row
          - 0.upto(3).each do |job|
            .span3
              %a.thumbnail
                <img src="http://placehold.it/260x380" alt="">
      .tab-pane#new-jobs
        .row 
          - 0.upto(3).each do |job|
            .span3
              %a.thumbnail
                <img src="http://placehold.it/260x380" alt="">
      .tab-pane#popular-jobs
        .row 
          - 0.upto(3).each do |job|
            .span3
              %a.thumbnail
                <img src="http://placehold.it/260x380" alt=""> 

