.hero-unit
  %h1= t :search_title 
  %p= (t :info_text) % [@num_jobs, @num_users]

  %form.form-horizontal#primary-search
    %input.input-search{:placeholder => (t :search_placeholder)}
      %button.btn.btn-large.btn-success= t :find_jobs_button 

  .add-job 
    = link_to (t :new_company_text), new_user_registration_path

  #case-study 
    .placeholder case study carousel


-#- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.row
  .span12.columns
    %ul.nav-tabs.nav#frontpage-tabs{:data => { :tabs => 'tabs'}}
      %li.active
        %a{:href => '#selected-jobs', :data => { :toggle => 'tab' }} 
          = t :selected_jobs_tab
      %li
        %a{:href => '#new-jobs', :data => { :toggle => 'tab' }} 
          = t :new_jobs_tab
      %li
        %a{:href => '#popular-jobs', :data => { :toggle => 'tab' }}
          = t :popular_jobs_tab

    .tab-content
      .tab-pane.active#selected-jobs
        .row
          - 0.upto(3).each do |job|
            .span3
              %a.thumbnail
                <img src="http://placehold.it/260x180" alt="">
      .tab-pane#new-jobs
        .row 
          - 0.upto(3).each do |job|
            .span3
              %a.thumbnail
                <img src="http://placehold.it/260x180" alt="">
      .tab-pane#popular-jobs        
        .row 
          - 0.upto(3).each do |job|
            .span3
              %a.thumbnail
                <img src="http://placehold.it/260x180" alt=""> 

