%h1= t 'user_profiles.add_user_profile.title'

= semantic_form_for @user_profile do |f|
  = f.inputs do
    = f.input :name
    = f.input :url

  = f.actions do
    = f.action :submit,
      :wrapper_html => { :class => 'btn-large'},
      :label => (t 'user_profiles.add_user_profile.submit')
