#employer-profile

  - if @employer.user == current_user
    .alert.alert-info
      %p
        %strong Morn!
        Dette er din profil.
      %a.btn Endre profilen

  .page-header
    %h1
      = @employer.company_name
      %small#employer_company_address= @employer.company_address


  .row.fluid-row
    .span8.company_description
      = BlueCloth.new(@employer.company_description).to_html.html_safe

    .span3.offset1
      - if @employer.logo?
        #logo= image_tag @employer.logo.url(:small)
      = render :partial => 'google_maps' # TODO normalize?

    .span12
      %h3 Teknologier vi bruker
      %p
        - @techs.each do |tech|
          %span.label.label-tech= tech.shortname

  .spacer50

  .row.fluid-row
    .span12
      %ul.nav-tabs.nav#frontpage-tabs{:data => { :tabs => 'tabs'}}
        %li.active
          %a{:href => '#selected-jobs', :data => { :toggle => 'tab' }}
            Jobber hos
            = @employer.company_name # TODO translate

      .tab-content
        .tab-pane.active#selected-jobs
          %table.table.table-striped.table-condensed
            %tr
              %th Stilling
              %th Frist
              %th Lagt inn
              %th Topp tre teknologier
              %th{ :style => 'width: 90px' }
                %i.icon-pencil
            - @employer.jobs.each do |job|
              %tr
                %td
                  = link_to job.title, job_url(job.id)
                  %i.icon-arrow-right
                %td
                  - if job.deadline_asap # TODO translate
                    Snarest
                %td
                  = distance_of_time_in_words_to_now job.created_at
                %td
                  - job.technologies.each_with_index do |tech, i|
                    - break if (i > 3)
                    %span.label.label-tech= tech.shortname
                %td
                  = link_to 'Søk på jobben', job_application_path(job.id), :class => 'btn btn-mini btn-success'
