<!doctype html>
%html{html_attrs}
  %head
    %meta{:charset => 'utf-8'}
    %title Jerbs
    = stylesheet_link_tag :application, :media => 'all'
    = javascript_include_tag :application
    = csrf_meta_tags

  %body
    -# TODO move to partial
    %header
      %nav.container
        .row
          %ul.nav.nav-pills#main-navigation
            - if params[:controller] == 'home' # TODO split into helper
              %li.active= link_to "Forsiden", root_path 
            - else
              %li.inactive= link_to "Forsiden", root_path

            - if params[:controller] == 'jobs'
              %li.active= link_to "Se jobber", jobs_path
            - else
              %li.inactive= link_to "Se jobber", jobs_path

            - if params[:controller] == 'user_profiles'
              %li.active= link_to "Se kandidater", user_profiles_path
            - else
              %li.inactive= link_to "Se kandidater", user_profiles_path

          #user-meta
            - if user_signed_in?
              .status.span3
                God dag! Du er logget inn som
                %strong= current_user.email
              .btn-group.span2
                = link_to "Logg ut", destroy_user_session_path, 
                  :method => :delete, 
                  :class => 'btn btn-info btn-small'
                %a.btn.btn-info.dropdown-toggle{:href => '#', :data => { :toggle => 'dropdown' }}
                  %span.caret
            - else
              %a#login-button{:href => '#modal-sign-up', 
                              :data => {:toggle => 'modal'}} Logg inn
              eller
              = link_to "Registrer deg", new_user_registration_path, 
                :class => 'btn btn-small btn-primary', :id => 'register-button'

    .container#main
      = yield # main content

    #modal-sign-up.modal.hide.fade
      .modal-header
      .modal-body

    %footer
      .container A Capasit Labs Project
         
