<!doctype html>
%html{html_attrs}
  %head
    %meta{:charset => 'utf-8'}
    %title Jerbs
    = stylesheet_link_tag :application, :media => 'all'
    = javascript_include_tag :application
    = csrf_meta_tags

  %body
    = render 'shared/login_box'

    %header

      #whatis
        .centering
          %strong
            Hva er Jerbs?
          Vi er en ny og bedre måte å finne de riktige jobbene og kandidatene.

      = render 'shared/main_navigation'

      #header-search-results
        .container.carousel#results-carousel
          .carousel-inner
          #search-spinner
          #search-info

    .container#main
      - if content_for? :info
        .alert.alert-info
          = yield :info
      - if content_for? :title
        .page-header
          %h1= yield :title
      = flash_messages
      = yield # main content

    %footer
      .container A Capasit Labs Project

    = javascript_include_tag '/javascripts/chroma-hash.js'
    <script> $(document).ready(function() { $("input:password").chromaHash({bars: 3, salt:"7be82b35cb0199120eea35a4507c9acf", minimum:6, height: 20}); }); </script>
