<!doctype html>
%html{html_attrs}
  %head
    %meta{:charset => 'utf-8'}
    %title Jerbs
    = stylesheet_link_tag :application, :media => 'all'
    = javascript_include_tag :application
    = csrf_meta_tags

  %body
    -# TODO move to partial
    %header
      %nav.container
        .row
          #main-navigation
            = link_to "Forsiden", root_path
            = link_to "Se alle jobber", jobs_path
          #user-meta
            - if user_signed_in?
              .status.span3
                God dag! Du er logget inn som
                %strong= current_user.email
              .btn-group.span2
                = link_to "Logg ut", destroy_user_session_path, 
                  :method => :delete, 
                  :class => 'btn btn-info btn-small'
                %a.btn.btn-info.dropdown-toggle{:href => '#', :data => { :toggle => 'dropdown' }}
                  %span.caret
            - else
              %a#login-button{:href => '#modal-sign-up', :data => {:toggle => 'modal'}} Logg inn
              eller
              = link_to "Registrer deg", new_user_registration_path, 
                :class => 'btn btn-small btn-primary'

    = yield # main content

    #modal-sign-up.modal.hide.fade
      .modal-header
      .modal-body

    %footer
