<!doctype html>
%html{html_attrs}
  %head
    %meta{:charset => 'utf-8'}
    %title Jerbs
    = stylesheet_link_tag :application, :media => 'all'
    = javascript_include_tag :application
    = csrf_meta_tags

  %body
    -# TODO move to partial
    %header
      %nav.container
        .row
          %ul.nav.nav-pills#main-navigation
            - if params[:controller] == 'home' # TODO split into helper
              %li.active= link_to "Forsiden", root_path
            - else
              %li.inactive= link_to "Forsiden", root_path

            - if params[:controller] == 'jobs'
              %li.active= link_to "Jerbs", jobs_path
            - else
              %li.inactive= link_to "Jerbs", jobs_path

            - if params[:controller] == 'job_seekers'
              %li.active= link_to "Jobbsøkere", job_seekers_path
            - else
              %li.inactive= link_to "Jobbsøkere", job_seekers_path

            - if params[:controller] == 'home'
              %li.active= link_to "Kart", map_path
            - else
              %li.inactive= link_to "Kart", map_path

          #user-meta
            - if user_signed_in?
              .btn-toolbar
                - if current_user.rolable_type == 'Employer'
                  .btn-group
                    = link_to 'Ny jobb', new_job_url,
                      :class => 'btn btn-inverse btn-small'
                  .btn-group
                    = link_to 'Min firmaprofil', employer_url(current_user.rolable_id),
                      :class => 'btn btn-primary btn-small'
                - elsif current_user.rolable_type == 'JobSeeker'
                  .btn-group
                    = link_to 'Min profil', job_seeker_url(current_user.rolable_id),
                      :class => 'btn btn-primary btn-small'
                .btn-group
                  = link_to (raw '<i class="icon-user icon-white"></i> Logg ut'),
                    destroy_user_session_path,
                    :method => :delete,
                    :class => 'btn btn-info btn-small'
                  %a.btn.btn-info.dropdown-toggle{:href => '#', :data => { :toggle => 'dropdown' }}
                    %span.caret
              .row
                God dag! Du er logget inn som
                %strong= current_user.email
            - else
              = link_to "Logg inn", new_user_session_path,
                :id => 'login-button'
              = link_to (t 'frontpage.menu.job_seeker'), job_seeker_sign_up_path,
                :class => 'btn btn-small btn-primary', :id => 'register-button'
              .row
                #employer-link= link_to (t 'frontpage.menu.employer'), employer_sign_up_path

    .container#main
      - if content_for? :title
        .page-header
          %h1= yield :title
      = flash_messages
      = yield # main content

    %footer
      .container A Capasit Labs Project
    = javascript_include_tag '/javascripts/chroma-hash.js'
    <script> $(document).ready(function() { $("input:password").chromaHash({bars: 3, salt:"7be82b35cb0199120eea35a4507c9acf", minimum:6, height: 20}); }); </script>
